/*contact page style*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #9c7766;
  font-family: Tahoma, sans-serif;
  border: solid #9c7766 1px;
  border-radius: 5px;
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
  box-shadow: 0px -5px 10px, 0px 5px 10px #9c7766;
  border-right: none;
  border-left: none;
}
.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.contacPage {
  background-image:url("contactPG.jpg");
  background-size: cover;
}
 ::placeholder {
   font-family: Tahoma, sans-serif;
   font-style: italic;
   color: #9c7766;
 }
.box {
  width: 95%;
  background-color: transparent;
  border: solid #9c7766 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

button {
  background-color: transparent;
  border: solid #9c7766 1px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  color: #9c7766;
}

/*Portofolio page style*/
a {
  text-decoration:none;
  color: #3f0949;
  font-family: Tahoma, sans-serif;
  margin-left: 35px;
  margin-right: 35px;
}

.porto-pic {
  width: 10%;
  border-radius: 50%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  color: #1f424f;
}
.bodyy {
  background-image: url("body.png");
  display: flex;
  flex-direction: column;
  background-color: #bdadfe;
  width: 50%;
  margin-left: 5%;
  padding: 25px;
  color: #1f424f;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ff5e986b;
  border-radius: 50px;
  box-shadow: 3px 3px 3px 3px #1f424f;
}
p {
  text-align: justify;
}
